@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$deepgrey: #212121;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $deepgrey;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

.navbar{
    margin-bottom: 0;
    .navbar-brand{
        display: flex;
        align-items: center;
        .navbar-item{
            img{
                width: 12.5rem;
                height: 3.25rem;
            }
        }
    }
}

.page-footer{
    footer{
        .content{
            .socials{
                font-size: 2rem;
            }
        }
    }
}

.media{
   
    display: flex;
    margin: 5%;
    height: auto;
    width: auto;

    .content{
        
        margin: 5%;
        display: flex;
        flex-wrap: wrap;
        img{
            padding-bottom: 10%;
            height: 16rem;
            width: fit-content;
        }
    }
}
//TABLET QUERY ONLY
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .navbar{
        margin-bottom: 0;
        .navbar-brand{
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            align-items: center;
            .navbar-item{
                img{
                    width: 12.5rem;
                    height: 3.25rem;
                }
            }
        }
    }


    .media{
       // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        height: auto;
        width: auto;
    
        .content{
           
          //  background-color: red;
            margin: 5%;
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            img{
                padding-bottom: 10%;
                height: 20rem;
                width: fit-content;
            }
        }
    }
}
///END OF TABLET QUERY