@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$deepgrey: #212121;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $deepgrey;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";




.navbar{
    margin-bottom: 0;
    .navbar-brand{
        display: flex;
        align-items: center;
        .navbar-item{
          
            img{
                width: 12.5rem;
                height: 3.25rem 
            }
        }
    }
}
/////////////////
.bg{
    //background-color: red;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/img/oz.jpg');
    background-position: left 0px top 60px;
}
///////////////////////
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
    height: auto;
    width: auto;

    .subtitle{
        //margin-top: 5%;
        text-align: center;
        font-size: 1.125rem
    }
}
////////////////////

.latest{
    margin: 5%;

    .content{
        .card{
            margin-bottom: 5%;
        }
        .subtitle{
            margin: 5%;
            text-align: center;
            font-size: 1.125rem;
        }
    }

}

///////////////////

.spotlight{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 5%;
    background-color: $deepgrey;

    .content{
       // background-color: red;
        margin: 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        img{
           
            border-radius: 50%;
            width: 14rem;
            height: 14rem;
            margin: 5%;
            border: 2px solid #fff;
        }
        p{
           // background-color: purple;
            text-align: center;
            color: #fff;
        }
        .title{
            height: fit-content;
        }
    }
}

///////////////////////

.page-footer{
    footer{
        .content{
            .socials{
                font-size: 2rem;
            }
        }
    }
}



//TABLET QUERY ONLY
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

//////////////////////////////
    .navbar{
        margin-bottom: 0;
        .navbar-brand{
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            align-items: center;
            .navbar-item{
                img{
                    width: 12.5rem;
                    height: 3.25rem;
                }
            }
        }
    }

////////////////////////////////
    .latest{
        margin: 5% 15% 5% 15%;
    
        .content{
            .card{
                margin: 0% 15% 5% 15%;
            }
            .subtitle{
                margin: 5%;
                text-align: center;
                font-size: 1.125rem;
            }
        }
    
    }

    ////////////////////////////


.spotlight{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 5%;
    background-color: $deepgrey;

    .content{
       // background-color: red;
        margin: 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        img{
           
            border-radius: 50%;
            width: 14rem;
            height: 14rem;
            margin: 5%;
            border: 2px solid #fff;
        }
        p{
           // background-color: purple;
            text-align: center;
            color: #fff;
        }
        .title{
            height: fit-content;
        }
    }
}
    
}
///END OF TABLET QUERY

//

///DESKTOP MEDIA QUERY

////////////////////

.nav-desktop{
    width: 100%;
    background-color: white;
    nav{
        margin-left: 15%;
      //  background-color: purple;
        width: 70%;
        .navbar-brand{
          //  background-color:red;
            
            
            
            //align-items: center;
            .navbar-item{
                img{
                    width: 12.5rem;
                    height: 3.25rem;
                }
            }
          
        }
    }
}

///////////////////////////////
.hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
url('/img/line.jpg');
    background-position: 0;

    .hero-body{
        .container{
           // background-color: red;
            display: flex;
            align-items: flex-end;
            height: 15vh;
            title{
                
            }
        }
    }
}


/////////////////////////////





.desktop-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 15% 5% 15%;
    height: auto;
    width: auto;

    .subtitle{
        //margin-top: 5%;
        text-align: center;
        font-size: 1.125rem
    }
}




////////////////////////////////////
.desktop-latest{
    margin: 5% 20% 5% 20%;
    //background-color: red;
    .content{
        //margin: 0;
        display: flex;
        flex-wrap: wrap;

        .title{
            //background-color: blue;
            height: fit-content;
            width: 100%;
        }
        .card{
          //  background-color: purple;
          
            width: 40%;
            
            height: fit-content;
        }



        .subtitle{
            margin: 5%;
            text-align: center;
            font-size: 1.125rem;
        }

        #oscar{
            align-self: flex-end;
            margin-left: 60%;
        }
    }

}

///////////////////////////////////////////

.desktop-spotlight{
    margin-left: 25%;
    margin-right: 25%;
    .content{
        //background-color: purple;
        width: 30%;
    }
}
