@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$deepgrey: #212121;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $deepgrey;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

body{
    overflow-x: hidden;
}

.navbar{
    margin-bottom: 0;
    .navbar-brand{
        display: flex;
        align-items: center;
        .navbar-item{
          
            img{
                width: 12.5rem;
                height: 3.25rem 
            }
        }
    }
}
/////////////////
.bg{
    //background-color: red;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/img/oz.jpg');
    background-position: left 0px top 60px;
}
///////////////////////
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
    height: auto;
    width: auto;

    .subtitle{
        //margin-top: 5%;
        text-align: center;
        font-size: 1.125rem
    }
}
////////////////////

.latest{
    margin: 5%;

    .content{
        .card{
            margin-bottom: 5%;
        }
        .subtitle{
            margin: 5%;
            text-align: center;
            font-size: 1.125rem;
        }
    }

}

///////////////////

.spotlight{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 5%;
    background-color: $deepgrey;

    .content{
       // background-color: red;
        margin: 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        img{
           
            border-radius: 50%;
            width: 14rem;
            height: 14rem;
            margin: 5%;
            border: 2px solid #fff;
        }
        p{
           // background-color: purple;
            text-align: center;
            color: #fff;
        }
        .title{
            height: fit-content;
        }
    }
}

///////////////////////
.blog{
    display: flex;

    .content{
        margin: 5%;
        display: flex;
        flex-wrap: wrap;

        p{
            text-align: right;
        }
        .card-s{
            display: flex;
            flex-wrap: wrap;

            .card{
                margin-bottom: 5%;
            }
        }
    }
}


////////////////////
.page-footer{
    footer{
        .content{
            .socials{
                font-size: 2rem;
            }
        }
    }
}



//TABLET QUERY ONLY
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

///////////////////////////////

body{
    overflow-x: hidden;
}

    .navbar{
        margin-bottom: 0;
        width: 100%;
        .navbar-brand{
            //margin-left: 5%;
            //margin-right:100%;
            display: flex;
            align-items: center;
            .navbar-item{
                img{
                    width: 12.5rem;
                    height: 3.25rem;
                }
            }
        }
    }

////////////////////////////////
    .latest{
       
        display: flex;
        justify-content: center;
      // background-color: red;
    
        .content{
          //  margin-left: 7%;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            p{
                width: 100%;
            }
            .card{
                margin-right: 5%;
                width: 300px;
            }
            .subtitle{
                margin: 5%;
                text-align: center;
                font-size: 1.125rem;
            }
        }
    
    }

    ////////////////////////////


.spotlight{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 5%;
    background-color: $deepgrey;

    .content{
       // background-color: red;
        margin: 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        img{
           
            border-radius: 50%;
            width: 14rem;
            height: 14rem;
            margin: 5%;
            border: 2px solid #fff;
        }
        p{
           // background-color: purple;
            text-align: center;
            color: #fff;
        }
        .title{
            height: fit-content;
        }
    }
}
    
}
///END OF TABLET QUERY

//

///DESKTOP MEDIA QUERY

////////////////////

.nav-desktop{
    width: 100%;
    background-color: white;
    nav{
        
      //  background-color: purple;
        width: 100%;
        .navbar-brand{
            margin-left: 15%;
            
          //  background-color:red;
            
            
            
            //align-items: center;
            .navbar-item{
                img{
                    width: 12.5rem;
                    height: 3.25rem;
                }
            }
          
        }
        .navbar-menu{
         //   background-color: red;
            width: 100%;
            margin-right: 100%;
        }
    }
}

////////////////////////////////
.hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
url('/img/line.jpg');
    background-position: 0;

    .hero-body{
        .container{
           // background-color: red;
            display: flex;
            align-items: flex-end;
            height: 15vh;
            title{
                
            }
        }
    }
}


/////////////////////////////





.desktop-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 15% 5% 15%;
    height: auto;
    width: auto;

    .subtitle{
        //margin-top: 5%;
        text-align: center;
        font-size: 1.125rem
    }
}




////////////////////////////////////
.desktop-latest{
    //margin: 5% 20% 5% 20%;
    
  //background-color: red;
   display: flex;
   align-items: center;
   justify-content: center;
   //width: 80%;
   height: 90vh;
   
    .content{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: fit-content;
      flex-wrap: wrap;
     // background-color: green;
    

        .title{
          // background-color: blue;
           // height: fit-content;
            width: 100%;
            text-align: center;
        }
        .card{
         //  background-color: purple;
          
            width: 400px;
            
            height: 500px;
            img{
                height: 250px;
                width: fit-content;
            }
        }



        .subtitle{
            margin: 5%;
            text-align: center;
            font-size: 1.125rem;
        }

        #oscar{
            
        }
    }

}

///////////////////////////////////////////

.desktop-spotlight{
  //  background-color: red;
  display: flex;
  justify-content: center;
    
    .content{
        //background-color: blue;
        display: flex;
        justify-content: center;
        p{
            text-align: center;
        }
        //background-color: purple;
        width: 20%;
    }
}
/////////////////////////////////////@at-root


.desktop-articles{
    margin: 5% 20% 5% 20%;
    display: flex;
    width: auto;
   // height: 50vh;
    //background-color: red;

    .title{
        align-self: flex-end;
        text-align: right;
    }
    .card-s{
        display: flex;
        justify-content: space-between;
        //flex-wrap: wrap;
        align-items: center;

        .card{
            width: 100%;
            margin-left: 2%;

            .author{
                
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    margin-right: 5%;
                }
            }
          
        }
    }
}
